<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ImgForm Express </title>
</head>
<body>
    <h1>Img Form </h1>
    <form action="/uploadimg" method="post" enctype="multipart/form-data">
        <label>Img Upload</label>
        <input type="file" name="img" id="">
        <button type="submit">Upload</button>
    </form>
</body>
</html>