<div class="col-md-3">
    <a href="/admin/banner">
        <button class="btn btn-success form-control mt-3">Banner Page</button>
    </a>
    <a href="/admin/contact">
        <button class="btn btn-success form-control mt-3">Contact Query Page</button>
    </a>
    <a href="/admin/address">
        <button class="btn btn-success form-control mt-3">Address Detail Page</button>
    </a>
    <a href="/admin/usersmng">
        <button class="btn btn-success form-control mt-3">User's Management </button>
    </a>
    <a href="/admin/testimonials">
        <button class="btn btn-success form-control mt-3">Testimonials</button>
    </a>
    <a href="/admin/socialmedia">
        <button class="btn btn-success form-control mt-3">Social Media</button>
    </a>
    <a href="/parking">
        <button class="btn btn-success form-control mt-3">Parking Management</button>
    </a>
</div>